body {
  margin: 0; /* Elimina los márgenes predeterminados del body */
  padding: 0; /* Elimina el relleno predeterminado del body */
  height: 100vh !important;
  
}

.fondo-imagen-abogado {
  background-image: url('../images/imagen_fondo_dos.jpg');
  background-size: cover;
  background-position: center;

}

.fondo-imagen-index {
  background-image: url('../images/fondo-index3.jpg');
  background-size: cover;
  background-position: center;
  height: 100% !important;

}




.fondo-imagen-resto-pagina {
    background-image: url('../images/imagen_fondo_dos.jpg');
    background-size: cover;
    background-position: center;
    height: 100% !important;
   
  }

#btn-long {
    width: 100% !important;
  }
  

.transparent-input {
    background-color: rgba(205, 222, 246, 0.3); /* Cambia el valor de 0.8 según tus preferencias */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Otra opción para mostrar un borde sutil */
  }

.title-with-shadow {
    text-shadow: 7px 7px 3px rgba(0, 0, 0, 0.5); /* Ajusta los valores según tus preferencias */
  }
  





 /* DETALLE DEL ABOGADO */
  .title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
       
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      margin-top:20px;
  }
  
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators .active {
      background-color: white;
      max-width: 12px;
      margin: 0 3px;
      height: 12px;
  }
  
  .btn {
    margin-top: auto;
  }









  
  
  
  
  