{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ... Otros metadatos ... -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
<body>

    <div class="container-fluid fondo-imagen-index text-white font-italic">
        <div class="row">
            <div class="col text-center mt-5">
                <h1>Bienvenido a Nuestra Plataforma Legal</h1>
                <p>¡Donde tus necesidades legales encuentran soluciones!</p>
                <p>En nuestra plataforma, puedes:</p>
                <ul class="list-unstyled">
                    <li><i class="fas fa-check"></i> Encontrar un abogado para tu caso</li>
                    <li><i class="fas fa-check"></i> Ofrecer tus servicios legales como abogado</li>
                    <li><i class="fas fa-check"></i> Conectar con expertos legales</li>
                </ul>
                <p>Si eres abogado:</p>
                <ul class="list-unstyled">
                    <li><i class="fas fa-check"></i> Ampliar tu base de clientes</li>
                    <li><i class="fas fa-check"></i> Ofrecer tu experiencia legal</li>
                    <li><i class="fas fa-check"></i> Colaborar con otros profesionales legales</li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="rolDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecciona tu Rol
                    </button>
                    <div class="dropdown-menu" aria-labelledby="rolDropdown">
                        <a class="dropdown-item" href="{url_para_seleccionar_cliente}">Cliente</a>
                        <a class="dropdown-item" href="{url_para_seleccionar_abogado}">Abogado</a>
                    </div>
                </div>
                <p>¿Listo para empezar?</p>
               
            </div>
        </div>
    </div>
    
    
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
</body>
</html>